--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio
transformers
accelerate
numpy<2
ollama
pydantic
typing-extensions
pandas
PyYAML
ttkbootstrap
apscheduler
ruamel.yaml
pyshortcuts